
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:whitesmoke;
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li:hover{
    color:green;
}

  

.logo{
    transform:translateY(-10px) ;
    transition: transform 0.5s;

    
}
a{
    text-decoration: none;
    color:black;
       
}
.menu{
    width: 28px;
    margin-left: 20px;
    display: block;
}
               /*  ----media queery for menu  ----  */
               @media  only screen and(max-width:800px){
                nav ul {
                      position: absolute;
                      top: 70px;
                      left: 0;
                      background: #333;
                      width: 100%;
                }
                nav ul li{
                    display:block ;
                    margin-right: 50px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                nav  ul li a {
                    color: #fff;
                }
                .menu{
                    display: block;
                    cursor: pointer;
                }
               }

              
                
               
p{
    text-decoration: none;    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    

}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    max-height: 50%;
}


.col-2 h1{
    font-size: 50px;
    line-height: 70px;
    margin: 25px;
}
.button{
      display: inline-block;
      color: #fff;
      background: #ff523b;
      padding: 8px 30px;
      margin: 30px 0;
      border-radius: 30px;
       

}
.header  .row{
    margin-top:70px;
}
.button:hover{
    background: #563434;
}
.userInput{
    font-size: 25px;

}
.form{
    font-size: 30px;
    margin: 10px;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    text-align: center;
    
  }
.card img{
    width:30%;
}
#showproducts{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    height: 30px;
    outline: none;
    border-radius: 3px;
    background: transparent;
    border: 2px solid #fff;
    font-size: 12px;
    transition: 0.5s;
}
#sample {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories{
    align-items: center;
    margin: 70px 0;


}
.feedback{
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
#list{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
   
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
}
.small{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.col-3 img{
    width:100%
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background:aquamarine ;
    width: 80px;
    height: 5px;
    border-radius: 5px;
}
.footer{
    background: #000;
    color:#8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    
   
}
.footer p{
    color:whitesmoke
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    padding-left: 35px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
